/* video */
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%; /* Proporción de aspecto 16:9 (dividir la altura por el ancho y multiplicar por 100) */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.video-container .video-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  border-radius: 20px;
}

.transparent-button {
  background-color: transparent;
  border: none;
}

.transparent-button:hover {
  background-color: transparent;
  opacity: 0.8;
}

.fixed-video-button {
  position: absolute;
  top: 80%; /* Ajusta la posición vertical del botón */
  left: 50%; /* Ajusta la posición horizontal del botón */
  transform: translate(-50%, -50%); /* Centra el botón */
}
/* barra navegacion */

#barra_navegacion {
  z-index: 3;
}


a {
 text-decoration: none;
	color: white;
} 


 a:hover {
 color: #00a0df;	
} 

/* textos*/

#titulo_index {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#subtitulo_index {
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}



 h1 {
    letter-spacing: 1px;
    color: #035f86;
}
 h2 {
    letter-spacing: 1px;
    color: #00a0df;
}


h3 {
  letter-spacing: 1px;
  color: #00a0df;
}


.icon-head {
    width: 7rem;
}
.icon-menu {
    width: 3rem;
}
.icon-arrow {
    width: 1rem;
}
.icon-opcions {
  
	height: 100px;
}
.icon-nav {
    width: 30px;
	margin-right: 1rem;
}

/* Bloque_color_gris */
.bloque2 {
  background: #eeeeee;
  padding-left: 10%;
  padding-right: 10%;
}


/* Clientes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

.card {
    
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .face {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /* border-right: 1px solid #999;
border-bottom: 1px solid #999; */
}

.card .face.front-face,
.card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

 .designation {
    font-size: 0.8rem;
    color: #ddd;
    letter-spacing: 0.8px;
}

.card:hover .face.front-face {
    transform: rotateY(180deg);
}

.card .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem;
}

.card:hover .face.back-face {
    transform: rotateY(360deg);
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00a0df;
  flex-shrink: 0;
  margin-top: 8px;
}


/* Carrusel */

    .carousel-item .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      gap: 15px;
    }
    
    .carousel-item .logo-container img {
      max-width: 130px;
      height: auto;
      margin: 0;
    }
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(50%);
}
 

 .carousel-indicators {
    bottom: -45px;
  }



@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}



@media (min-width: 576px) {
  .position-sm-static {
    position: static !important;
  }
  .position-sm-relative {
    position: relative !important;
  }
  .position-sm-absolute {
    position: absolute !important;
  }
  .position-sm-fixed {
    position: fixed !important;
  }
  .position-sm-sticky {
    position: sticky !important;
  }

  

}

@media (max-width: 660px) {

#titulo_index {

  font-size: 15px;

}

#subtitulo_index {
  color: white;
  font-size:10px;
  text-align: center;
  text-transform: uppercase;
}

.video-container .video-text {
  
  padding: 10px;
 
}
}


@media (min-width: 768px) {
  .position-md-static {
    position: static !important;
  }
  .position-md-relative {
    position: relative !important;
  }
  .position-md-absolute {
    position: absolute !important;
  }
  .position-md-fixed {
    position: fixed !important;
  }
  .position-md-sticky {
    position: sticky !important;
  }
}

@media (min-width: 992px) {
  .position-lg-static {
    position: static !important;
  }
  .position-lg-relative {
    position: relative !important;
  }
  .position-lg-absolute {
    position: absolute !important;
  }
  .position-lg-fixed {
    position: fixed !important;
  }
  .position-lg-sticky {
    position: sticky !important;
  }
}

@media (min-width: 1200px) {
  .position-xl-static {
    position: static !important;
  }
  .position-xl-relative {
    position: relative !important;
  }
  .position-xl-absolute {
    position: absolute !important;
  }
  .position-xl-fixed {
    position: fixed !important;
  }
  .position-xl-sticky {
    position: sticky !important;
  }
}













